################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/src/ColorTree.Windows/obj/Debug
*.suo
*.user
