################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
src/bin/
src/obj/
src/packages/
*.suo
*.user
